@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
  @apply px-2;
}

.bg-primary{
  background:#118B50;
}
.bg-secondary{
  background:#E3F0AF;
}
.text-primary{
  color: #E3F0AF;
}
.mobile-nav{
  @apply fixed top-12 right-0 bg-custom-cream  w-1/4 h-1/5;
}

.mobile-nav li{
  @apply w-full h-full text-center border-b-2 font-bold;
}

.project-desc{
  @apply absolute left-0 right-0 bottom-0 top-0 bg-secondary opacity-0 duration-500 hover:opacity-100;
}

.btn{
  @apply bg-secondary px-5 py-2 font-bold hover:border-2 rounded border-deepgreen;
}
.btn{
  @apply bg-deepgreen px-5 py-2 font-bold hover:border-2 rounded border-deepgreen;
}
html{
  scroll-behavior: smooth;
}